### Pyber Challenge
Challenge Overview
This new assignment for you and Omar consists of three parts: two additional technical analyses and a written report that delivers your results to the CEO. To summarize, you will submit the following deliverables:

- Technical Analysis Deliverable 1: A DataFrame that summarizes the key metrics for the ride-sharing data by city type.
- Technical Analysis Deliverable 2: A multiple-line chart, with one line for each city type, that shows the sum of the fares for each week.
- Delivering Results: A written report of your results, saved in a README.md document on your GitHub repository.

## Deliverable 1
Create a summary DataFrame that showcases the following for each city type:

- Total Rides
- Total Drivers
- Total Fares
- Average Fare per Ride
- Average Fare per Driver

## Deliverable 2

 Multiple-Line Plot for the Sum of the Fares for Each City Type
 
## Deliverable 3

To deliver the results of your analysis, you will submit a written analysis created for your CEO, V. Isualize, in the form of a README.md file on your GitHub repository. In your README.md, you should have three paragraphs consisting of 4 to 5 sentences each.

The first paragraph should include the following:

- Describe the purpose, or the reason, you did this assignment.
- How did you analyze the data to create the technical deliverables?
- What can be said about the summary DataFrame and multiple-line graph with respect to the ride-sharing data among the different city types? Include images of the summary DataFrame table and the multiple-line graph in these results.
- A short summary of the results.

The second paragraph should include the following:

- What challenges or difficulties did you encounter? If none, then briefly explain what challenges or difficulties may be encountered and how to avoid them using technical analysis.
- Explain how you overcame any challenges or difficulties, and include what technical analysis you use to overcome the challenges or difficulties.

The third paragraph should include the following:

- Based on the data from the different city types, what recommendations would you give the CEO for addressing any disparities among the city types?
- Provide two additional analyses you could do to gain more insight into the data, like using other datasets.
- What technical steps would you take to perform the additional analyses?

In [12]:
#Insert magic code
%matplotlib inline

#Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import statistics
import numpy as np
import os

In [28]:
path = os.getcwd()

In [29]:
print(path)

C:\Users\otrin\OneDrive\Desktop\Git\cu-virt-data-pt-05-2020-u-b\Module 5 - PyBer with Matplotlib\C3-Stu_BikeTrippin\Unsolved

In [31]:
os.chdir(..\)

SyntaxError: invalid syntax (<ipython-input-31-87d044af2871>, line 1)

In [15]:
# Read CSV file
city_data_df = pd.read_csv(r"C:\Users\otrin\OneDrive\Desktop\Git\PyBer_Analysis\Resources\city_data.csv")
ride_data_df = pd.read_csv(r"C:\Users\otrin\OneDrive\Desktop\Git\PyBer_Analysis\Resources\ride_data.csv")

In [16]:
# Explore the city_data
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [17]:
city_data_df['city'].describe()

count               120
unique              120
top       Nicolechester
freq                  1
Name: city, dtype: object

In [18]:
city_data_df['city'].unique()

array(['Richardfort', 'Williamsstad', 'Port Angela', 'Rodneyfort',
       'West Robert', 'West Anthony', 'West Angela', 'Martinezhaven',
       'Karenberg', 'Barajasview', 'Robertport', 'Joneschester',
       'Leahton', 'West Christopherberg', 'Johnton', 'Reynoldsfurt',
       'Port David', 'New Kimberlyborough', 'Carriemouth', 'Rogerston',
       'Jerryton', 'Loganberg', 'Simpsonburgh', 'Port Frank',
       'South Latoya', 'West Samuelburgh', 'Grahamburgh',
       'West Patrickchester', 'North Madeline', 'South Jack', 'Liumouth',
       'West Ericstad', 'Royland', 'Erikaland', 'Huntermouth',
       'Justinberg', 'South Evanton', 'Lake Danielberg',
       'East Kaylahaven', 'West Heidi', 'Karenside', 'South Karenland',
       'West Gabriel', 'North Markport', 'Raymondhaven', 'North Barbara',
       'Lake Scottton', 'West Josephberg', 'Pattyland',
       'South Michelleport', 'Christopherfurt', 'Valentineton',
       'South Phillip', 'North Jason', 'Deanville', 'Lake Jonathanshire',
       'New Paulton', 'Hurleymouth', 'Port Johnbury', 'North Jasmine',
       'New Paulville', 'Amandaburgh', 'Williamsview', 'New Jacobville',
       'Port Samanthamouth', 'Roberthaven', 'Port Shane', 'Lake Ann',
       'Lake Scott', 'Colemanland', 'New Raymond', 'South Teresa',
       'Myersshire', 'Grayville', 'Lake Robertside', 'Lewishaven',
       'Rodriguezview', 'Victoriaport', 'Williamsonville', 'West Hannah',
       'West Kimmouth', 'New Shannonberg', 'North Timothy', 'New Olivia',
       'Lake Omar', 'Sotoville', 'Veronicaberg', 'East Kentstad',
       'Bethanyland', 'South Brenda', 'Barronchester', 'Brandonfort',
       'East Danielview', 'East Marymouth', 'Mezachester', 'Lewisland',
       'Josephside', 'Davidfurt', 'Nicolechester', 'East Aaronbury',
       'North Richardhaven', 'North Jeffrey', 'South Jennifer',
       'West Heather', 'Newtonview', 'North Holly', 'Michaelberg',
       'Taylorhaven', 'Penaborough', 'Harringtonfort', 'Lake Jamie',
       'Lake Latoyabury', 'North Jaime', 'South Marychester', 'Garzaport',
       'Bradshawfurt', 'New Ryantown', 'Randallchester', 'Jessicaport',
       'South Saramouth'], dtype=object)

In [19]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [21]:
city_data_df['type'].describe()

count       120
unique        3
top       Urban
freq         66
Name: type, dtype: object